
# Dependências (Pesado, o Render instala sozinho)
node_modules/

# Variáveis de ambiente (Secretas)
.env

# Arquivos de sistema e IDE (Lixo)
.DS_Store
.vscode/
.idea/

# Build (O Render cria na hora)
dist/
build/


